# Force GitHub to detect your JS/JSX files as React
*.js linguist-language=React
*.jsx linguist-language=React
*.ts linguist-language=React
*.tsx linguist-language=React

# Tell GitHub to ignore CSS files when calculating the language percentages
*.css linguist-vendored
*.scss linguist-vendored
*.html linguist-vendored